Dados/Codebook.docx
Dados/DADOS_MESTRADO_ANDREIAPAIN_versão Gabriela.xlsx
Leitura indicada/28.08.24 manuscript .doc
Leitura indicada/41598_2023_Article_37229.pdf
Leitura indicada/41598_2022_Article_9139.pdf
Leitura indicada/A study on relationship between elderly.pdf
Leitura indicada/fpubh-11-1162385.pdf
Leitura indicada/torres2018.pdf
Leitura indicada/A nationwide study on immunosenescence biomarkers profile in older.pdf
Leitura indicada/ASSOCIATION AMONG OSTESARCOPENIA, ADIPOSE TISSUE COMPARTMENT AND PRO AND ANTI-INFLAMMATORY MEDIATORS IN OLDER OUTPATIENTS.docx
